<div class='container'>
  <h3><mark>会員情報編集</mark></h3>
    <div class='row ml-5'>

      <%= form_with model: @customer, url: customers_mypage_path, id: 'edit_customer', class: 'edit_customer' do |f| %>

      <div class="col mb-2">
        <%= f.label '名前' %>
        <%= f.text_field :last_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="col mb-2">
        <%= f.label 'フリガナ' %>
        <%= f.text_field :last_name_kana %>
        <%= f.text_field :first_name_kana %>
      </div>

      <div class="col mb-2">
        <%= f.label '郵便番号' %>
        <%= f.text_field :postal_code %>
      </div>

      <div class="col mb-2">
        <%= f.label '住所' %>
        <%= f.text_field :address, size: 45 %>
      </div>


      <div class="col mb-2">
        <%= f.label '電話番号' %>
        <%= f.text_field :telephone_number %>
      </div>

      <div class="col mb-2">
        <%= f.label 'メールアドレス' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>


      <div class='row d-flex'>
         <%= f.submit "編集内容を保存", class: 'btn btn-success btn-sm d-block mx-auto mt-3' %>
      <div class='ml-auto'>
         <%= link_to "退会する", customers_unsubscribe_path, class: 'btn btn-danger btn-sm'%>
      </div>
      </div>
      <% end %>

    </div>
</div>

