<div class="container">
  <div class="row">
    <div class="col">
      <h3><mark>マイページ</mark></h3>

        <div class='row'>
          <h4>登録情報</h4>
          <div>
            <%= link_to "編集する", edit_customer_path(current_customer), class: 'btn btn-success btn-sm ml-3' %>
          </div>
        </div>

        <table class="table table-bordered ml-5" style= "width: 600px;">
          <tbody>
            <tr>
              <th class='col-2'>氏名</th>
              <td class='col-3'>
                <%= @customer.last_name %>    <%= @customer.first_name %>
              </td>
            </tr>
            <tr>
              <th class='col-2'>カナ</th>
              <td class='col-3'>
                <%= @customer.last_name_kana %>    <%= @customer.first_name_kana %>
              </td>
            <tr>
              <th class='col-2'>郵便番号</th>
              <td class='col-3'>
                <%= @customer.postal_code %>
              </td>
            </tr>
            <tr>
              <th class='col-2'>住所</th>
              <td class='col-3'>
                <%= @customer.address %>
              </td>
            </tr>
            <tr>
              <th class='col-2'>電話番号</th>
              <td class='col-3'>
                <%= @customer.telephone_number %>
              </td>
            </tr>
            <tr>
              <th class='col-2'>メールアドレス</th>
              <td class='col-3'>
                <%= @customer.email %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class='row'>
          <h4>配送先</h4>
          <div>
            <%= link_to "一覧を見る",  addresses_path, class: 'btn btn-primary btn-sm ml-3' %>
          </div>

        </div>

        <div class='row'>
          <h4>注文履歴</h4>
          <div>
            <%= link_to "一覧を見る", orders_path, class: 'btn btn-primary btn-sm ml-3' %>
          </div>

        </div>
    </div>
  </div>
</div>

