<div class="container">
  <div class="row">
    <div class="col">
      <h2>マイページ</h2>

        <div>
          <h5>登録情報</h5>
          <%= link_to "編集する", edit_customer_path(current_customer) %>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <td>
                <p>氏名</p>
              </td>
              <td>
                <%= @customer.last_name %>    <%= @customer.first_name %>
              </td>
            </tr>
            <tr>
              <td>
                <p>カナ</p>
              </td>
              <td>
                <%= @customer.last_name_kana %>    <%= @customer.first_name_kana %>
              </td>
            <tr>
              <td>
                <p>郵便番号</p>
              </td>
              <td>
                <%= @customer.postal_code %>
              </td>
            </tr>
            <tr>
              <td>
                <p>住所</p>
              </td>
              <td>
                <%= @customer.address %>
              </td>
            </tr>
            <tr>
              <td>
                <p>電話番号</p>
              </td>
              <td>
                <%= @customer.telephone_number %>
              </td>
            </tr>
            <tr>
              <td>
                <p>メールアドレス</p>
              </td>
              <td>
                <%= @customer.email %>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <h5>配送先</h5>
          <%= link_to "一覧を見る", addresses_path(current_customer) %>
        </div>

        <div>
          <h5>注文履歴</h5>
          <%= link_to "一覧を見る", customers_mypage_path(current_customer) %>
        </div>
    </div>
  </div>
</div>

