<!-- 商品画像 -->
      <div class="from-group">
        <%= f.label :商品画像 %>
        <%= f.attachment_field :image %>
      </div>

  <!-- 商品名 -->
      <div class="from-group">
        <%= f.label :商品名 %>
        <%= f.text_field :name %>
      </div>

  <!-- 商品説明 -->
      <div class="from-group">
        <%= f.label :商品説明 %>
        <%= f.text_area :introduction %>
      </div>

  <!-- 商品の税抜き価格 -->
      <div class="from-group">
        <%= f.label :税抜価格 %>
        <%= f.text_field :price %>円
      </div>

  <!-- 販売ステータス -->
      <div class="from-group">
        <%= f.label :販売ステータス %>
        <%= f.radio_button :sales_status, true %>
        <%= f.label :sales_status, "販売中", value: :true %>
        <%= f.radio_button :sales_status, false %>
        <%= f.label :sales_status, "販売停止中", value: :false %>
      </div>