<div class="container mt-5">
  <h3><mark>商品編集</mark></h3>
    <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーが発生しました
    <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    <div class="row">
      <div class="mx-auto mt-5 col-md-5">
        <%= form_with model:@item, url: admin_item_path(@item.id), method: :patch, local:true do |f| %>
        <!-- 商品画像 -->
        <div class="from-group row">
          <%= f.label :商品画像, class: "col-md-4" %>
          <%= f.attachment_field :image, class: "col-md-8" %>
        </div>

        <!-- 商品名 -->
        <div class="from-group row">
          <%= f.label :商品名, class: "col-md-4 mt-3" %>
          <%= f.text_field :name, class: "col-md-7 mt-3" %>
        </div>

        <!-- 商品説明 -->
        <div class="from-group row">
          <%= f.label :商品説明, class: "col-md-4 mt-3" %>
          <%= f.text_area :introduction, :size=>"60x5", class: "col-md-7 mt-3" %>
        </div>

       <!-- 商品の税抜き価格 -->
        <div class="from-group row">
          <%= f.label :税抜価格, class: "col-md-4 mt-3" %>
          <%= f.text_field :price, class: "col-md-7 mt-3" %>
          <div class="col-md-1 mt-4">円</div>
        </div>

        <!-- ジャンル -->
        <div class="form-group row">
          <%= f.label :ジャンル, class: "col-md-4 mt-3" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい", class: "col-md-7 mt-3" %>
        </div>

        <!-- 販売ステータス -->
        <div class="from-group row">
          <%= f.label :販売ステータス, class: "col-md-4 mt-3" %>
          <%= f.radio_button :sales_status, true, class: "col-md-1 mt-4" %>
          <%= f.label :sales_status, "販売中", value: :true, class: "mt-3" %>
          <%= f.radio_button :sales_status, false, class: "col-md-1 mt-4" %>
          <%= f.label :sales_status, "販売停止中", value: :false, class: "mt-3" %>
        </div>

        <div class="row">
        <!-- 新規登録ボタン -->
        <%= f.submit '変更を保存', class: 'btn btn-success mx-auto mt-3' %>
        </div>
      </div>
    </div>
    <% end %>
</div>

