<div class="container mt-5">
  <h3><mark>商品新規登録</mark></h3>
    <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーが発生しました
    <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  
      <%= form_with model:@item, url: admin_items_path, local:true do |f| %>

      <!-- 商品画像 -->
      <div class="from-group">
        <%= f.label :商品画像 %>
        <%= f.attachment_field :image %>
      </div>

  <!-- 商品名 -->
      <div class="from-group">
        <%= f.label :商品名 %>
        <%= f.text_field :name %>
      </div>

  <!-- 商品説明 -->
      <div class="from-group">
        <%= f.label :商品説明 %>
        <%= f.text_area :introduction %>
      </div>

  <!-- 商品の税抜き価格 -->
      <div class="from-group">
        <%= f.label :税抜価格 %>
        <%= f.text_field :price %>円
      </div>

  <!-- ジャンル選択 -->
      <div class="form-group">
        <%= f.label :ジャンル %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
      </div>

  <!-- 販売ステータス -->
      <div class="from-group">
        <%= f.label :販売ステータス %>
        <%= f.radio_button :sales_status, true %>
        <%= f.label :sales_status, "販売中", value: :true %>
        <%= f.radio_button :sales_status, false %>
        <%= f.label :sales_status, "販売停止中", value: :false %>
      </div>

      <!--部分テンプレート-->
      <%#= render 'from_item', item: @item %>
  
      <div class="row">
        <!-- 新規登録ボタン -->
        <%= f.submit '新規登録', class: 'btn btn-success mx-auto mt-3' %>
      </div>
      </div>
    </div>
    <% end %>
</div>