  <div class="container">
    <div class="row">
<<<<<<< HEAD
        <div class="col-3">
          <ul class="list-group">
            <li>ジャンル検索</li>
            <li>ケーキ</li>
            <li>焼き菓子</li>
            <li>プリン</li>
            <li>キャンディ</li>
          </ul>
        </div>
=======
      <%= render 'genres' %>
>>>>>>> origin/develop
      <p class="col-7 card">ようこそながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も、商品の閲覧は出来ますが、<br>
         購入には会員登録が必要になります。
      </p>
    </div>

    <div class='row'>
      <div class='col-10 ml-auto'>
        <h3>新着商品</h3>
<<<<<<< HEAD
        <div class='d-flex align-content-between flex-wrap'>
          <% @items.each do |item| %>
            <div class='mr-3'>
              <%= attachment_image_tag item, :image, format: 'jpg', size: "180x100" %><br>
              <%= item.name %><br>
              ￥<%= item.add_tax_price.to_s(:delimited) %>
            </div>
          <% end %>
        </div>
=======
        <%= render 'public/items/index', items: @items %>
>>>>>>> origin/develop
        <div class='text-right mt-3'>
          <%= link_to '全ての商品を見る>', items_path %>
        </div>
       </div>
    </div>
  </div>
