<div class="container">
  <div class="row ml-auto mt-5">
    <div class="bg-light text-secondary"><h3><mark>注文履歴詳細</mark></h3></div>
    <table class="table mt-5">
      <tbody>
        <tr>
          <td><span><strong>購入者</strong></span></td>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <td><span><strong>注文日</strong></span></td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td><span><strong>配送先</strong></span></td>
          <td>
            <span>〒</span>
            <%= @order.postal_code %>
            <span> </span>
            <%= @order.address %>
          </td>
        </tr>
        <tr>
          <td><span><strong>支払い方法</strong></span></td>
          <td><% payment_eg = Order.payment_methods.key((@order.payment).to_i) %>
              <%= Order.payment_methods_i18n[payment_eg] %>
          </td>
        </tr>
        <tr>
          <td><span><strong>注文ステータス</strong></span></td>
          <td>
            <%= form_with model: @order,url: admin_order_path(@order),method: :patch,local: true do |f| %>
              <%= f.select :order_status_method, options_for_select(Order.order_status_methods.keys.map {|k| [I18n.t("enums.order.order_status_method.#{k}"), k]},Order.order_status_methods.key(@order.order_status))%>
              <%= f.submit "更新",class:"btn btn-success ml-3" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div>
        <table class="table mt-5">
          <thead>
            <tr>
              <th><strong>商品名</strong></th>
              <th><strong>単価（税込）</strong></th>
              <th><strong>数量</strong></th>
              <th><strong>小計</strong></th>
              <th><strong>製作ステータス</strong></th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price %></td>
              <td><%= order_detail.item_quantity %></td>
              <td><%= order_detail.price*order_detail.item_quantity %></td>

              <%= form_with model: order_detail,url: admin_order_order_detail_path(order_detail),method: :patch,local: true do |f| %>
              <td><%= f.select :production_status_method, options_for_select(OrderDetail.production_status_methods.keys.map {|k| [I18n.t("enums.order_detail.production_status_method.#{k}"), k]},OrderDetail.production_status_methods.key(order_detail.production_status)) %></td>
              <td><%= f.submit "更新",class:"btn btn-success" %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="ml-5">
        <table class="table mt-5 ml-5">
          <tbody>
            <tr>
              <td><strong>商品合計</strong></td>
              <td><%= @order.total_payment %>　円</td>
            </tr>
            <tr>
              <td><strong>送料</strong></td>
              <td><%= @order.postage %>　円</td>
            </tr>
            <tr>
              <td><strong>請求金額合計</strong></td>
              <td><%= @order.total_payment+@order.postage %>　円</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
