<!--新規登録-->
  <div class='container'>
    <h3><mark>配送登録・一覧</mark></h3>
      <div class='row ml-5'>
        <%= form_with model: @address, local:true do |f| %>
      <div class="col mb-2">
        <%= f.label '郵便番号(ハイフンなし)' %>
        <%= f.text_field :postal_code, placeholder: '0000000000'%>
      </div>
      <div class="col mb-2">
        <%= f.label '住所' %>
        <%= f.text_field :address, placeholder: '東京都渋谷代々木神園町２丁目' %>
      </div>
      <div class="col mb-2">
        <%= f.label '宛名' %>
        <%= f.text_field :name, placeholder: '令和道子' %>
        <%= f.submit '新規登録', class: 'btn btn-sm btn-success ml-5' %>
      </div>
        <% end %>
      </div>

<!--配送先一覧-->
    <table class="table table-bordered mt-5">
      <theade class="thead-light">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </theade>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <%= link_to '編集する', edit_address_path(address.id), class: 'btn btn-success btn-sm' %>
            <%= link_to '削除する', address_path(address), method: :delete, 'data-confirm' => '本当に消しますか？', class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
